@model AppUser

@section UserInfo {
<div class="image">
    <img src="@Model.Image" class="img-circle elevation-2" alt="User Image">
</div>
<div class="info">
    <a href="#" class="d-block">@Model.FullName </a>
</div>
}

@section Hosgeldin {
    <h4>Hoşgeldin, @Model.FullName .....</h4>
}



 <div class="row">
     <div class="col-md-10">
         @await Component.InvokeAsync("Articles")
     </div>

     </div>
 </div>